{% extends "base.html" %} {% block title %}Explore | Discover{% endblock %} {%
block content %}
<div class="container mx-auto p-6">
  <h1 class="text-4xl font-bold text-center mb-8 text-green-700">
    Explore Companies
  </h1>

  <section class="bg-green-100 p-6 rounded-lg mb-8">
    <h2 class="text-2xl font-semibold text-green-900 mb-4">
      Discover Our Partners
    </h2>
    <p class="text-green-800">
      Explore the innovative companies leading the way in sustainable solutions.
      Learn about their contributions to eco-friendly practices and how they
      manage resources efficiently.
    </p>
  </section>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    {% for i in range(entries_length) %}
    <a href="/company/{{ all_companies[i].id }}" class="block">
      <div
        class="bg-white shadow-lg rounded-lg p-6 border border-gray-200 hover:shadow-xl transition"
      >
        <h2 class="text-2xl font-semibold text-green-900">
          {{ all_companies[i].CompanyName }}
        </h2>
        <p class="text-green-700">
          Description: {{business_descriptions[i][2]}}
        </p>
        <p class="text-green-700">Type: {{business_descriptions[i][1]}}</p>
        <p class="text-green-700">
          Points Range: {{business_descriptions[i][0]}}
        </p>

        <div class="mt-4 flex justify-between font-bold">
          <button
            href="/company/{{ all_companies[i].id }}"
            class="bg-green-600 text-white py-2 px-4 rounded hover:bg-green-700"
          >
            More Info
          </button>
          <button
            class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700"
          >
            Donate
          </button>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
<footer id="contact" class="bg-green-900 text-white py-4 text-center">
  <p>&copy; 2024 ecoin. All rights reserved.</p>
</footer>
{% endblock %}
