{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<div class="max-w-md mx-auto mt-10 p-6 bg-white shadow-md rounded-lg">
  <h3 class="text-2xl font-bold text-center text-green-900 mb-6">
    Ecoin User Login
  </h3>
  <form method="POST">
    <div class="form-group mb-4">
      <label for="email" class="block text-sm font-semibold text-gray-700"
        >Email Address</label
      >
      <input
        type="email"
        class="form-control mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:border-green-500 focus:ring focus:ring-green-200"
        id="email"
        name="email"
        placeholder="Enter email"
        required
      />
    </div>
    <div class="form-group mb-6">
      <label for="password" class="block text-sm font-semibold text-gray-700"
        >Password</label
      >
      <input
        type="password"
        class="form-control mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:border-green-500 focus:ring focus:ring-green-200"
        id="password"
        name="password"
        placeholder="Enter password"
        required
      />
    </div>
    <button
      type="submit"
      class="w-full bg-green-900 text-white py-2 px-4 rounded-full font-bold hover:bg-green-800 transition-colors"
    >
      Login
    </button>
  </form>
</div>
{% endblock %}
